html
	head
	body
		form(action='/add_user' method='post')
			input(name='userName' type='text' placeholder='User name'
			id='userName')
			input(name='password' type='text' placehlder='Password'
			id='Password')
			input(name='email' type='text' placeholder='Email')
			button(type='submit' formmethod='post') Join!

