html
	head
	body

		h1 Welcome! Are you a new user?
			p
				a(href="/addUser") Create an account
			p Have an account? Login here	

		form(action="/index" method="post")
			input(name='userName' type="text" placeholder="User name" id="userName")
			br
			input(name="password" type="text" placeholder="Password" id="password")
			br
			button(type="submit" formmethod ='post') Login

	script.
		document.getElementById('userName').value='DEFAULT_USER';


		document.getElementById('password').value='DEFAULT_PASSWORD';
	

